/* mobile */
.gs-column-groups {
  margin-top: 51px;
}

@media (min-width: 768px){
  //sm
  body, html {
    margin: 0;
    height:100%;
  }

  /* mimicking sb-admin theme */
  .gs-column-groups {
    position: fixed;
    // top: 51px;
    left: 0;
    height: 100%;
    // margin: 0;
    // border: none;
    // border-radius: 0;
    overflow-y: auto;
    background-color: #222;
  }

  .gs-column-repos {
    margin-top: 51px;
  }

}

@media (min-width: 992px) {
  //md
}

@media (min-width: 1200px) {
  //lg
  .panel-heading {
    height: 61px;
    word-wrap: break-word;
  }
}
